body {
    background-color: #919191;
}

.homepage-container {
    margin-top: 168px;
    display: flex;
    justify-content: space-between;
}

.current-profile-card {
    border-radius: 16px;
    background-color: #FAFAFA;
    padding: 48px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

