body {
    background-color: #919191;
}

.homepage-container {
    margin-top: 144px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 56px;
    gap: 24px;
}

.homepage-container .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px !important;
    height: fit-content;
}

/* current profile card */

.current-profile-card {
    border-radius: 16px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
}

.current-profile-card .profile-picture {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    overflow: hidden;
}

.current-profile-card .profile-picture img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.current-profile-card .profile-name {
    font-size: 24px;
    padding: 0 48px 0;
}


.current-profile-card .view-profile-button {
    font-size: 20px;
    text-decoration: none;
    color: #606674;
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.current-profile-card .view-profile-button:hover {
    color: #034EA2;
    border-bottom: 1px solid #034EA2;
}


.current-profile-card .followers-container {
    border-top: 1px solid #606674;
    border-bottom: 1px solid #606674;
    width: 100%;
    margin: 12px 0;
}

.current-profile-card .followers-container .followers,
.current-profile-card .followers-container .following {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    font-size: 20px;
}

.current-profile-card .followers-container .followers .number-of-followers,
.current-profile-card .followers-container .following .number-of-following {
    color: #034EA2;
}


.current-profile-card .saved-items-button {
    border: 1px solid #ADB0B7;
    border-radius: 16px;
    width: 60%;
    padding: 8px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 8px;
    font-size: 20px;
}

.current-profile-card .saved-items-button span {
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.current-profile-card .saved-items-button:hover span {
    color: #034EA2;
    border-bottom: 1px solid #034EA2;
}

.current-profile-card .saved-items-button svg{
    font-size: 28px;
    transition: .2s ease;
}

.current-profile-card .saved-items-button:hover svg {
    color: #034EA2;
}


/* other profiles card */

.other-profiles-card {
    border-radius: 16px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
}

.other-profiles-card .title {
    font-size: 28px;
    font-weight: 400;
    margin-top: 12px;
}

.other-profiles-card .other-profiles-container {
    border-top: 1px solid #606674;
    border-bottom: 1px solid #606674;
    width: 100%;
    margin: 12px 0;
}

.other-profiles-card .other-profiles-container .other-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 16px;
    font-size: 20px;
}

.other-profiles-card .other-profiles-container .other-profile-image {
    margin-top: 12px;
    width: 44px;
}

.other-profiles-card .other-profiles-container .other-profile-image img {
    border-radius: 100px;
    width: 100%;
}

.other-profiles-card .other-profiles-container .name {
    font-size: 20px;
    font-weight: 400px;
}

.other-profiles-card .add-account-button {
    border: 1px solid #ADB0B7;
    border-radius: 16px;
    width: 60%;
    padding: 8px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 8px;
    font-size: 20px;
}

.other-profiles-card .add-account-button span {
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.other-profiles-card .add-account-button:hover span {
    color: #034EA2;
    border-bottom: 1px solid #034EA2;
}

.other-profiles-card .add-account-button svg {
    font-size: 28px;
    transition: .2s ease;
}

.other-profiles-card .add-account-button:hover svg {
    color: #034EA2;
}

/* Post cards and infinite scroll */

.infinite-scroll {
    width: 100%;
}

/* Add these styles to your main CSS file */
.post-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author h2 {
    margin: 0;
}

.post-author p {
    margin: 0;
    color: #777;
}

.post-content {
    margin-top: 10px;
}

.post-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-actions button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    display: flex;
    align-items: center;
}

.post-actions button:hover {
    text-decoration: underline;
}


/* Recommmendations section */
/* add to your feed card */

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.add-to-your-feed-card {
    border-radius: 16px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
}

.add-to-your-feed-card .title {
    font-size: 28px;
    font-weight: 400;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.add-to-your-feed-card .title svg {
    font-size: 32px;
}

.add-to-your-feed-card .person-to-follow {
    width: 100%;
}

.add-to-your-feed-card .person-to-follow:last-child {
    border-bottom: 1px solid #ADB0B7;
}

.add-to-your-feed-card .person-to-follow .person {
    border-top: 1px solid #ADB0B7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.add-to-your-feed-card .person-to-follow .person .person-image-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
}


.add-to-your-feed-card .person-to-follow .person-to-follow-image {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    overflow: hidden;
}


.add-to-your-feed-card .person-to-follow .person-to-follow-image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.add-to-your-feed-card .person-to-follow .person .name {
    font-size: 20px;
    font-weight: 400;
}

.add-to-your-feed-card .person-to-follow .person .follow-button {
    border: 1px solid #ADB0B7;
    border-radius: 12px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.add-to-your-feed-card .person-to-follow .person .follow-button span {
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.add-to-your-feed-card .person-to-follow .person .follow-button:hover span {
    border-bottom: 1px solid #034EA2;
    color: #034EA2;
}

.add-to-your-feed-card .person-to-follow .person .follow-button svg {
    transition: .2s ease;
}

.add-to-your-feed-card .person-to-follow .person .follow-button:hover svg {
    color: #034EA2;
}

.add-to-your-feed-card .view-all-recommendations {
    border-top: 1px solid #ADB0B7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-your-feed-card .view-all-recommendations a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: #034EA2;
    margin: 12px 0;
}

.add-to-your-feed-card .view-all-recommendations a svg {
    font-size: 36px;
}

@media screen and (min-width: 1920px) {
    .homepage-container {
        margin-top: 144px;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: 0px 280px;
        gap: 24px;
    }
}