.people-cards {
    margin: 168px 64px 50px;
}

.companies-cards {
    margin: 0 64px 50px;
}


.network-cards .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.network-cards .title p,
.network-cards .title a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.network-cards .title a:hover {
    color: #034EA2;
    border-bottom: 1px solid #034EA2;
    cursor: pointer;
}

.network-cards .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}


.network-cards .card {
    border-radius: 16px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 304px;
    max-width: 304px;
    max-height: 265px;
}

.network-cards .card .profile-picture {
    margin-top: 12px;
    width: 72px;
}

.network-cards .card .profile-picture img {
    border-radius: 100px;
    width: 100%;
}

.network-cards .card .profile-name {
    font-size: 24px;
    padding: 0 48px 0;
}

.network-cards .card .view-profile-button {
    font-size: 20px;
    text-decoration: none;
    color: #606674;
}

.network-cards .card .mutual-connections-container {
    border-top: 1px solid #606674;
    border-bottom: 1px solid #606674;
    width: 100%;
    margin: 12px 0;
}

.network-cards .card .mutual-connections-container .mutual-connections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    font-size: 20px;
}

.network-cards .card .mutual-connections-container .mutual-connections .number-of-mutual-connections{
    color: #034EA2;
}

.network-cards .card .follow-button {
    border: 1px solid #ADB0B7;
    border-radius: 16px;
    width: 60%;
    padding: 8px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network-cards .card .follow-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 8px;
    font-size: 20px;
}

.network-cards .card .follow-button a svg {
    font-size: 28px;
}


/* Modal for see all profiles */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11000;
}

.modal-content {
    background-color: #FAFAFA;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 69%;
    height: 81%;
    width: 90%;
}

.modal-content .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #ADB0B7;
}

.modal-content .title-container h2 {
    font-size: 36px;
    font-weight: 600;
}

.modal-content .title-container svg {
    font-size: 36px;
    cursor: pointer;
}

.modal-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    margin: 0 4px;
    padding: 30px;
    height: 500px;
    overflow-y: scroll;
}

.modal-cards-container::-webkit-scrollbar {
    width: 16px;
}

.modal-cards-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

.modal-cards-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.modal-content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal-content .title p,
.modal-content .title a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    transition: .2s ease;
}

.modal-content .title a:hover {
    color: #034EA2;
    border-bottom: 1px solid #034EA2;
    cursor: pointer;
}

.modal-content .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}


.modal-content .card {
    border-radius: 16px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 304px;
    max-width: 304px;
    height: 265px;
}

.modal-content .card .profile-picture {
    margin-top: 12px;
    width: 72px;
}

.modal-content .card .profile-picture img {
    border-radius: 100px;
    width: 100%;
}

.modal-content .card .profile-name {
    font-size: 24px;
    padding: 0 48px 0;
}

.modal-content .card .view-profile-button {
    font-size: 20px;
    text-decoration: none;
    color: #606674;
}

.modal-content .card .mutual-connections-container {
    border-top: 1px solid #606674;
    border-bottom: 1px solid #606674;
    width: 100%;
    margin: 12px 0;
}

.modal-content .card .mutual-connections-container .mutual-connections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    font-size: 20px;
}

.modal-content .card .mutual-connections-container .mutual-connections .number-of-mutual-connections {
    color: #034EA2;
}

.modal-content .card .follow-button {
    border: 1px solid #ADB0B7;
    border-radius: 16px;
    width: 60%;
    padding: 8px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content .card .follow-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 8px;
    font-size: 20px;
}

.modal-content .card .follow-button a svg {
    font-size: 28px;
}

@media screen and (min-width: 1920px) {

    .network-cards .cards-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .modal-content {
        max-width: 55%;
        height: 71%;
    }

}