.search-bar {
    display: flex;
    align-items: center;
    width: 550px;
    height: 43px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 0;
}

.search-bar.active {
    border-bottom-left-radius: 0px;
}

.search-bar input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 600;
    border: none;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;;
}

.search-bar input::placeholder {
    color: #474747;
    font-weight: 600;
}

.search-bar button {
    background-color: #034EA2;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: none;
    border-left: 1px solid #000;;
    height: 100%;
    width: 14%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar button:hover {
    cursor: pointer;
}

.search-bar button svg {
    font-size: 32px;
}

.search-bar-container {
    position: relative;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 465px;
    background: #fff;
    border: 1px solid #000;
    border-top: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
}

.search-results li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #ccc;
}

.search-results li:last-child {
    border-bottom: none;
}